.hxw-btn {
    padding: 6px 15px;
    border: 1px solid transparent;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
}